body{
    background-color: darkolivegreen;
}
.container{
    width: calc(100% - 300px);
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 2px 2px 2px gray;
    min-height: 100vh;
    padding: 30px;
}

div{
    margin-top: 20px;
}